$desktop: 	"(min-width: 1024px)"
$tablet: 	"(min-width: 768px) and (max-width: 1023px)"
$mobile: 	"(min-width: 320px) and (max-width: 480px)"


@media #{$mobile}
	.banner__img
		max-width: 90%

	.mainNav__menu__item
		font-size: 20px
	.mainNav_btn
		font-size: 40px
		top: 15px
		right: 35px


@media #{$tablet}


@media #{$desktop}



.banner__social-links__link:hover 
	color: black
	font-size: 1.25rem

.mainNav__menu__item:hover,
.mainNav__menu__item:focus
	color: #f1f1f1
